<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="packagetrackingsystem" transaction-type="RESOURCE_LOCAL">

        <class>ke.yh_world_enterprises.packagetrackingsystem.entity.Admin</class>
        <class>ke.yh_world_enterprises.packagetrackingsystem.entity.Customer</class>
        <class>ke.yh_world_enterprises.packagetrackingsystem.entity.Package</class>
    </persistence-unit>
</persistence>
